<h2 id="title">Ember Master Tab demo</h2>
<p>Is this the master tab? <strong>{{#if masterTab.isMasterTab}}Yes{{else}}No{{/if}}</strong></p>
{{link-to 'Test one' 'one'}}<br/>
{{link-to 'Test two' 'two'}}
{{outlet}}