<h2 id="title">Ember Master Tab demo</h2>
<p>Is this the master tab? <strong>{{#if masterTab.isMasterTab}}Yes{{else}}No{{/if}}</strong></p>
<pre>Counter [is master tab]    : {{counterIsMasterTab}}
Counter [is not master tab]: {{counterIsNotMasterTab}}
</pre>
{{{test}}}