<p>
  <strong>Last updated</strong>: {{data.time}}
</p>
{{#if data.person}}
  <p>
  <strong>Id</strong>: {{data.person.id}}<br/>
  <strong>Name</strong>: {{data.person.name}}<br/>
  </p>
{{/if}}
{{#if data.error}}
  <p>
    <strong>Error</strong>: {{data.error}}
  </p>
{{/if}}